<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094561102902-dv0puu6jm9jjivbhmdi7hj86k96fr10v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094561102902-dv0puu6jm9jjivbhmdi7hj86k96fr10v</string>
	<key>API_KEY</key>
	<string>AIzaSyDrNFqFlQWDJONINl2SVDmVshP2DeA_7bg</string>
	<key>GCM_SENDER_ID</key>
	<string>1094561102902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ec495</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ec495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094561102902:ios:27dd83cc7b49350c112c97</string>
</dict>
</plist>